.resize-region {
  position: absolute;
  z-index: 95;
  background: rgba(0, 0, 0, 0.004);
  pointer-events: auto;
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
}

.resize-region--north,
.resize-region--south {
  right: 24px;
  left: 24px;
  height: 12px;
  cursor: ns-resize;
}

.resize-region--north {
  top: 0;
}

.resize-region--south {
  bottom: 0;
}

.resize-region--east,
.resize-region--west {
  top: 24px;
  bottom: 24px;
  width: 16px;
  cursor: ew-resize;
}

.resize-region--east {
  right: 0;
}

.resize-region--west {
  left: 0;
}

.resize-region--north-east,
.resize-region--north-west,
.resize-region--south-east,
.resize-region--south-west {
  width: 24px;
  height: 24px;
}

.resize-region--north-east {
  top: 0;
  right: 0;
  cursor: nesw-resize;
}

.resize-region--north-west {
  top: 0;
  left: 0;
  cursor: nwse-resize;
}

.resize-region--south-east {
  right: 0;
  bottom: 0;
  cursor: nwse-resize;
}

.resize-region--south-west {
  bottom: 0;
  left: 0;
  cursor: nesw-resize;
}
